@import url('https://fonts.googleapis.com/css?family=Pacifico|Sedgwick+Ave');



body{
	    background-color: :aqua;
	    font-family: 'Sedgwick Ave', cursive;
       text-align: center;
}


h1{

       font-family: 'Pacifico', cursive;

	}
